<%- include('../../partials/header'); %>

<div class="container main-content">
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title text-center">Create an new account</h2>
                </div>

                <div class="card-body">
                    <form action="/auth/signup" method="post">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" name="username"
                                   id="username" class="form-control"
                                   placeholder="Please enter an unique username">
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email"
                                   id="email" class="form-control"
                                   placeholder="Please enter an email">
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password"
                                   id="password" class="form-control"
                                   placeholder="Please enter an strong password">
                        </div>

                        <div class="form-group">
                            <label for="confirmPassword">Confirm Password</label>
                            <input type="password" name="confirmPassword"
                                   id="confirmPassword" class="form-control"
                                   placeholder="Enter the password again">
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block">Signup</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../../partials/footer'); %>